@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Koho", Helvetica, Arial, sans-serif;
}

html.dark .MuiFormLabel-root{
  color: #fff;
}

html.dark #__next{
  background-color: #262626;
}