/* @import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap"); */

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'KoHo', sans-serif;
}

html.dark .MuiFormLabel-root{
  color: #fff;
}

html.dark #__next{
  background-color: #262626;
}

html.dark .MuiInputBase-input.MuiInput-input{
  color: #fff;
}

html.dark .MuiInput-underline::before{
  border-color: #fff;
}
html.dark .MuiInput-underline::after{
  border-color: #FFA900;
}